<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/navbar%>
    <meta charset="utf-8">
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <center>
        <h2>Register</h2>
        <%if(error){%>
          <div class="alert alert-danger" role="alert">
            <%=error.message%>
          </div>
        <%}%>
        <form action="/auth/register" method="post">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="username" type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-text-background"></i></span>
            <input id="name" type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart-empty"></i></span>
            <input id="gender" type="text" class="form-control" name="gender" placeholder="Gender">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-resize-vertical"></i></span>
            <input id="age" type="text" class="form-control" name="age" placeholder="Age">
          </div>
          <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          <br>
      </div>
  </body>
</center>
</html>
