<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/navbar%>
    <meta charset="utf-8">
    <title>Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Add Review to </h2></br>
        <form class="form-group" action="/users/<%=user.id%>/addreview/<%=place.id%>" method="post">
          <div class="form-group">
            <label for="review">Review:</label>
            <input type="text" name="review" placeholder="Enter review" class="form-control" value="">
          </div>
          <div class="form-group">
            <label for="rating">Rating:</label>
            <select class="form-group" name="rating">
              <option value="1">⭐️</option>
              <option value="2">⭐️⭐️</option>
              <option value="3">⭐️⭐️⭐️</option>
              <option value="4">⭐️⭐️⭐️⭐️</option>
              <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>
